body{
	color: black;
	background-color: rebeccapurple;
}

@font-face {
    font-family: Labelfont;
    src: url("../fonts/Syntha Nova Black.ttf");
}


.resp_form{
	width: 100%;
	height: auto;
    z-index: 100;
    position: absolute;
    top: 12.5%;
}

.FormPlaceholder{
	position: relative;
	z-index: 10;
	margin: 0 15% ;
	font-size: 2.5vw;
	box-sizing: border-box;
	border-radius: 12% 0;
	transition: border-radius .8s, height .8s, min-height .8s, max-height .8s;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffae42, 0 0 40px #ffae42, 0 0 50px #ffae42, 0 0 60px #ffae42, 0 0 70px #ffae42;
  }  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ffae42, 0 0 40px #ffae42, 0 0 50px #ffae42, 0 0 60px #ffae42, 0 0 70px #ffae42, 0 0 80px #ffae42;
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffae42, 0 0 40px #ffae42, 0 0 50px #ffae42, 0 0 60px #ffae42, 0 0 70px #ffae42;
  }  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ffae42, 0 0 40px #ffae42, 0 0 50px #ffae42, 0 0 60px #ffae42, 0 0 70px #ffae42, 0 0 80px #ffae42;
  }
}

.SelectFormPlaceholder{
	position: relative;
	width: 100%;
	height: 8vw;
	margin-top: 5%;
}
.SelectFormPlaceholder div {
	position: absolute;
	width: 55%; 
	text-align: center;
	height: 100%;
	
}
.SelectFormPlaceholder div:first-child {
	left: 5%;
	z-index: 2;
    background-color: #4b0082;
    border-radius: 70% 300% 0 0;
	font-size: 2.8vw;
	color: #fff;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
	        animation: glow 1s ease-in-out infinite alternate;		
}
.SelectFormPlaceholder div:last-child {
	left: 40%;
	z-index:0;
	background-color: #3c0069;
	border-radius: 300% 70% 0 0;
	color: #808080;	
}
.SelectFormPlaceholder div p{
	position: absolute;
	font-family: Labelfont;
	top: 6%;
}
.SelectFormPlaceholder div:first-child  p{
	left: 26%;
}
.SelectFormPlaceholder div:last-child  p{
	right: 20%;
}

/*Absolute lets it inherit its parents Width and Height as guide
	top: 5%; is 5% of its parents height
	margin-top: 5%; is 5% of its parents width (WTF)
	padding-bottom: 5%; is 5% of its parents width (WHAAAAAAT)
	
	any border & margin top/bot uses parent width... use grid instead
	
	IN SHORT USE top,left,right,down as positioning
*/
/*
.resp_form {
    width: 100%;
    height: 40%; && height:75%
    background-color: black;
    z-index: 100;
    position: absolute;
    top: 12.5%;

.SelectFormPlaceholder{
    height: 4vw;
    top: 1.72vw;
}
.MainForm{
	top: 5.5vw;
    height: 14.78vw;
}
*/



.MainForm{
	position: relative;
	/*margin: 0 5% 1.725vw;*/
	margin: 0 5% 5%;
	padding-bottom: 5%;
	background: rgb(75,0,130);
    background: linear-gradient(180deg, rgba(75,0,130,1) 0%, rgba(31,0,54,1) 100%);
    border-radius: 0 0 10% 10%;
	z-index: 1;
	transition: height .8s;
	overflow: hidden;
}
.MainForm div{
	position: relative;
	width: 100%;
	opacity: 1;
	padding-top: 3%;
	/*padding-top:.875vw;
	padding-top:3%;*/
}
.MainForm div:first-child{
	padding-top: 5%;
}
.MainForm div p{
	font-family: Labelfont;
	font-size:2.8vw;
	color: yellow;
	margin: 0;
	text-align: center;
}



/*Tooltips*/
.MainForm div span{
	visibility: hidden;
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
	border-radius: 3%/21% 21% 21% 21%;
	/*padding: 1vw 0;*/
	padding: 2% 4%;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	position: absolute;
	z-index: 1;
	opacity: 0;
	transition: opacity 0.3s;
}
.MainForm div:hover span{
	visibility: visible;
	opacity: 1;
}
.UsernamePlaceholder{z-index:5}.PasswordPlaceholder{z-index:4}.ConfirmPasswordPlaceholder{z-index:3}.RecoveryQuestionPlaceholder{z-index:2}.RecoveryAnswerPlaceholder{z-index:1}.CaptchaPlaceholder{z-index:0}
.UsernamePlaceholder span, .PasswordPlaceholder span{ /*disabled at start*/
	display: none;
}

.UsernamePlaceholder span{
	top: 104%;
	left: 7.75%;
}
.PasswordPlaceholder span{
	top: 104%;
	left: -8%;
}
.RecoveryQuestionPlaceholder span{
	top: 104%;
	left: -5%;
}
.RecoveryAnswerPlaceholder span{
	/*width: 124%;*/
	top: 104%;
	left: -14%;
}
.ConfirmPasswordPlaceholder span {
	/*width: 58%;*/
	top: 104%;
	left: 28%;
}
.CaptchaPlaceholder span {
	/*width: 50%;*/
	top: 35%;
	left: 65%;
}




.MainForm div span::after{
	content: "";
	position: absolute;
	border-style: solid;
}
.UsernamePlaceholder span::after, .PasswordPlaceholder span::after, .ConfirmPasswordPlaceholder span::after, .RecoveryQuestionPlaceholder span::after, .RecoveryAnswerPlaceholder span::after{
	border-color: transparent transparent #000000 transparent;
	top: -83%;
	left: 50%;
	margin-left: -2.5vw;
	border-width: 2.5vw;
}	
.CaptchaPlaceholder span::after{
	border-color: #000000 transparent transparent transparent;
	top: 100%;
	left: 20%;
	margin-left: -2.5vw;
	border-width: 2.5vw;
}


.MainForm div input{
	position: relative;
	background-color: #808080;
	left: 15%;
	right: 15%;
    width: 70%;
	text-align: center;
	padding: 0;
	font: normal 2.5vw Arial;
}
.MainForm div input:hover{
	background-color: #fff;
	outline: none !important;
	border: 2px solid #ffae42;
	box-shadow: 0 0 10px #ffae42;
}.MainForm div input:active{
	background-color: #fff;
	outline: none !important;
	border: 2px solid #ffae42;
	box-shadow: 0 0 10px #ffae42;
}
.MainForm div input:focus{
	background-color: #fff;
	outline: none !important;
	border: 2px solid #ffae42;
	box-shadow: 0 0 10px #ffae42;
	
}
.MainForm .Captcha{
	padding-bottom: 0;
	padding-top: 0;
}
.MainForm .Captcha #captcha{
	display: block;
	background-color: white;
	margin: 0 auto;
}
.MainForm input[type="button"]{
	/*margin-top: .875vw;
	height: 2vw;
	padding: .25vw;*/
	margin-top: 3%;
	position: relative;
	width: 40%;
    left: 30%;
	transition: opacity .3s;
	font: bold 2.5vw Labelfont;
	
}
.MainForm input[type="button"]:last-child{
	display:none;
}
.MainForm a{
	text-align:center;
	color: white;
	transition: opacity .3s;
}
.MainForm a p{
    margin: 0;
	padding: 3% 0;
}




.hidden{
	position: absolute !important;
	visibility: hidden;
	pointer-events: none;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
	.FormPlaceholder{
		border: solid black;
	}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {
	.FormPlaceholder{
		border: solid orange;
	}
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.FormPlaceholder{
		border: solid white;
	}

	.FormPlaceholder{
		margin: 0 22.5%;
		font-size: 1.875vw;
	}
	.SelectFormPlaceholder{
		height:6vw;
	}
	.SelectFormPlaceholder div:first-child {
		font-size: 2.1vw;	
	}
	
	.MainForm div p{
		font-size: 2.1vw;
	}
	.MainForm div input{
		font: normal 1.875vw Arial;
	}


	.ConfirmPasswordPlaceholder span {
		width: 50%;
		top: 39%;
		left: 90%;
	}
	.CaptchaPlaceholder span {
		width: 50%;
		top: 67%;
		left: 90%;
	}

	.UsernamePlaceholder span::after, .PasswordPlaceholder span::after,.ConfirmPasswordPlaceholder span::after, .RecoveryQuestionPlaceholder span::after, .RecoveryAnswerPlaceholder span::after, .CaptchaPlaceholder span::after{
		margin-left: -1.875vw;
		border-width: 1.875vw;
		
	}

	.ConfirmPasswordPlaceholder span::after, .CaptchaPlaceholder span::after{
		top: 6%;
		left: -6.8%;
		border-color: transparent #000000  transparent transparent; /*arrow position of tooltip*/
	}
		
	.MainForm input[type="button"]{
		font: bold 1.875vw Labelfont;
	}






}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.FormPlaceholder{
		border: solid yellow;
	}
	.FormPlaceholder{
		border: solid yellow;
		margin: 0 30%;
		font-size: 1.25vw;
	}
	.SelectFormPlaceholder{
		height:4vw;
	}
	.SelectFormPlaceholder div:first-child {
		font-size: 1.4vw;	
	}
	
	.MainForm div p{
		font-size: 1.4vw;
	}
	.MainForm div input{
		font: normal 1.25vw Arial;
	}

	.UsernamePlaceholder span{
		width: 80%;
		top: 30%;
		left: 90%;
	}
	.PasswordPlaceholder span, .RecoveryQuestionPlaceholder span, .RecoveryAnswerPlaceholder span{
		width: 80%;
		top: 20%;
		left: 90%;
	}
	.ConfirmPasswordPlaceholder span {
		width: 50%;
		top: 39%;
		left: 90%;
	}
	.CaptchaPlaceholder span {
		width: 50%;
		top: 72%;
		left: 90%;
	}

	.MainForm div span::after{
		margin-left: -1.25vw;
		border-width: 1.25vw;
		border-color: transparent #000000  transparent transparent; /*arrow position of tooltip*/
	}
	.UsernamePlaceholder span::after, .PasswordPlaceholder span::after, .RecoveryQuestionPlaceholder span::after, .RecoveryAnswerPlaceholder span::after{
	top: 27%;
	left: -4.25%;
}
	.ConfirmPasswordPlaceholder span::after, .CaptchaPlaceholder span::after{
		top: 14%;
		left: -6.8%;
	}
		
	.MainForm input[type="button"]{
		font: bold 1.25vw Labelfont;
	}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.FormPlaceholder{
		border: solid blue;
	}
	
}





/*
.UsernamePlaceholder{
	padding-top: 2%;
}
.UsernamePlaceholder p{
	margin: 0;
	text-align: center;
}
.UsernamePlaceholder input{
	position: relative;
	left: 15%;
    width: 70%;
}
.UsernamePlaceholder input:focus{
	outline: none !important;
	border: 1px solid yellow;
	box-shadow: 0 0 10px red;
}
.PasswordPlaceholder{
	padding-top: 2%;
}
.PasswordPlaceholder p{
	margin: 0;
	text-align: center;
}
.CaptchaPlaceholder{
	padding-top: 2%;
}
.CaptchaPlaceholder p{
	margin: 0;
	text-align: center;
}

*/







table, th, td 
{
	margin:10px 0;
	border:solid 1px #333;
	padding:2px 4px;
	font:15px Verdana;
}
th {
	font-weight:bold;
}
		
#loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  visibility:hidden;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}