$dfltdur: .8s;

@font-face {
    font-family: Labelfont;
    src: url("../fonts/Syntha Nova Black.ttf");
    font-display: swap;
}

body{
	color: white;
    background-color: #0D0D0D;
    margin: 0;
}
.vignettebg{
    display: block;
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15vw rgba(0,0,0,0.9)inset;
    pointer-events: none;
}
.blurbg{
    display: none;
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15vw rgba(128,128,128,0.5)inset;
}
.topright_gear{
    display: none;
    // display: block;
    position: fixed;
    // background-color: yellow;
    // width: max-content;
    width: 65%;
    height: 100%;
    right: 0%;
    top: 0%;
    z-index: 1000;
    pointer-events: none;
    .gradient_bg{
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(to left, rgba(0,0,0,.85) 60%, rgba(0,0,0,0));
        z-index: -1;
        transform: translateX(100%);
        transition: transform .65s ease-in-out;
        will-change: transform;
    }
    
    img{
        display: flex;
        margin-left: auto;
        width: 18%;
        height: auto;
        transition: transform 1s ease-in-out;
        pointer-events: auto;
        user-select: none;
        // border-radius: 9999px;
        
        // transition: background-color .3s;
        // will-change: background-color;
        // &:hover{
        //     background-color: #808080;
        // }
    }
   ul{
       display: none;
       flex-direction: column;
       list-style: none;
       font-size: 0;
       padding: 0;
       margin: 0;
       border: 0;
       text-align:right;
       pointer-events: auto;
       li{
            display: flex;
            align-self: flex-end;
            font-family: "Labelfont";
            font-size: 4vw;
            color:white; 
            transition: transform .3s;
            will-change: transform;
            
            // padding-left: 2vw;
            // padding-bottom: 2vw;

            &:first-of-type{
                span{
                    border-top: solid white;
                    border-image: linear-gradient(to right, rgba(0,0,0,0), rgb(255,255,255), rgb(255,255,255)) 1;
                }
            }
            span{
                // background-color: red;
                border-bottom:solid white;
                border-image: linear-gradient(to right, rgba(0,0,0,0), rgb(255,255,255), rgb(255,255,255)) 1;
                padding: 1vw 4vw 1vw 12vw;
                // transition: transform .8s;
                will-change: transform;
            }

            &:hover{
                transform: scale(1.1);
                color: yellow;
            }
       }
   }
}
.top_modals{
    // display: none;
    display: block;
    position: fixed;
    top: 4%;
    left: 8%;
    width: 84%;
    z-index: 999;
    user-select: none;

    .icon{grid-area: icon;}
    .content{grid-area: content;}
    .TrueBtn{grid-area: trbtn;}
    .FalseBtn{grid-area: flsbtn;}

    & > div{
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "icon content content content content"
        ". trbtn . flsbtn .";
        padding: 3%;
        padding-bottom: 0;
        color: white;
        border-radius:10% 10%/20%;
        margin-top: 3%;
        
        // grid-template-areas: ; ADD CLASSES FIRST
        // "modaltype modaltext clsbtn"
        // "progress progress progress"
        // background-color: green;
        
        white-space: nowrap;
        & > div:first-of-type{
            img{
                width: 100%;
                height: auto;
            }
        }
        & > div:nth-of-type(2){
            padding-left: 5%;
            box-sizing: border-box;
            font-family: sans-serif;
            white-space: pre-line;
            & > span{
                font-size: 4vw;
                font-weight: bold;
            }
            p{
                font-size: calc(max(2vw, 12px));
                margin: 3% 0 1% 0;
                white-space: pre-line;
                text-align: left;
            }
            // font-size: 10px;

            .AltBtn{
                width: 100%;
                height: auto;
                color: white;
                & > div{
                    &:first-of-type{
                        margin-bottom: 3%;
                        span{
                            font-weight: bold;
                        }
                        // font: bold $mob_fntsz Arial;
                        
                        // background-color: yellow;
                        
                    }
                    &:last-of-type{
                        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 25%);
                        // background-color: red;
                        span{
                            iframe{
                                transition: box-shadow .281s;
                                &:hover{
                                    box-shadow: 0 0 5px #4285f4;
                                }
                            }
                        }
                    }
                }
            }
        }
        & > div:nth-of-type(3){
            display:none;
            span{
                position: relative;
                top: -30%;
                padding: 0 2vw;
                color: white;
                background-color: black;
                border-radius: 999px;
                font-size: 8vw;
                font-weight: bolder;
                transition: background-color .2s;
                will-change: background-color;
                cursor: pointer;
                &:hover{
                    background-color: red;
                }
            }
        }
        //add last-of-type for progress bar

        & > span{
            position: relative;
            background-color: black;
            box-shadow: 0 0 10px black;
            font-family: sans-serif;
            font-weight: bolder;
            text-align: center;
            padding: 6%;
            border-radius: 20% 20%/20%;
            top: 50%;
            box-sizing: border-box;
            cursor: pointer;
            &:first-of-type{
                // background-color: royalblue;
                background-color: #1C42B5;
                &:hover{
                    text-decoration: underline;
                    // background-color: #1C42B5;
                    background-color: royalblue;
                }
            }

            &:last-of-type{
                // background-color: crimson;
                background-color: #9D0B26;
                &:hover{
                    text-decoration: underline;
                    // background-color: #9D0B26;
                    background-color: crimson;
                }
            }
        }
    }
    
    

    .Warning{
        // background-color: goldenrod;
        background-color: #808080;
        // box-shadow: 0 0 10px gold;
        box-shadow: 0 0 10px black;
        box-shadow: inset 0 0 10px black;
        & > div{
            // background-color: goldenrod;
            // background-color: #808080;
            color: black;
        }
    }


    
    
}
.botright_modals{
    // display: none;
    display: block;
    position: fixed;
    width: 60%;
    z-index: 999;
    bottom: 0%;
    right: 0%;
    user-select: none;
    // background-color: orange;
    & > div{
        display: grid;
        grid-template-columns: 20% 70% 10%;
        grid-template-rows: auto;
        padding: 3%;
        color: white;
        border-radius: 10% 10%/20%;
        white-space: nowrap;
        margin-right: 5%;
        margin-bottom: 5%;
        transition: opacity $dfltdur;
        will-change: opacity;

        div:first-of-type{
            img{
                width: 100%;
                height: auto;
            }
        }
        div:nth-of-type(2){
            padding-left: 5%;
            padding-right: 5%;
            box-sizing: border-box;
            // color: white;
            font-family: sans-serif;
            span{
                font-size: 4vw;
                white-space: pre-line;
                font-weight: bold;
            }
            p{
                font-size: calc(max(2vw, 12px));
                margin: 0;
                white-space: pre-line;
                text-align: left;
            }
            // font-size: 10px;
        }
        div:nth-of-type(3){
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
            border-radius: 0 30% 30% 0;
            box-sizing: content-box;
            transition: background-color .2s;
            will-change: background-color;
            cursor: pointer;
            span{
                color: white;
                font-size: 6vw;
                font-weight: bolder;
                pointer-events: none;
            }
            &:hover{
                background-color: red;
            }
        }
    }

    .Queue{
        background-color: #4169e1;
        box-shadow: 0 0 10px deepskyblue;
    }
    
    .Error{
        background-color: crimson;
        box-shadow: 0 0 10px red;
        div{
            background-color: crimson;
        }
    }
    
    .Warning{
        background-color: goldenrod;
        box-shadow: 0 0 10px gold;
        div{
            background-color: goldenrod;
            color: black;
        }
    }

    .Done{
        background-color: green;
        box-shadow: 0 0 10px limegreen;
        div{
            background-color: green;
        }
    }
}
.AltSignInStorage{
    display: none;
    pointer-events: none;
    position: absolute;
    top:100%;
}